doctype html
html
  head
   
    title SitOPT
    link(rel='StyleSheet', href='style.css', type='text/css', media='screen')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  body
    #body2
      #page
        #menulinks
          include navibar
        #header
          h1
            a(href='#') SitOPT
          .description Optimierung und Adaption situationsbezogener Anwendungen basierend auf Workflow-Fragmenten
        #mainarea
          #contentarea

            h1 Things
            h2 Things are objects that can be monitored. All things contain at least one sensor and return information which can then be combined within an executed situation template to derive the situation of the thing.
            -for (var i in things)
              - var thing = things[i]
              .boxed

                p(id="name" + i) Name: #{thing.name}
                p Monitored: #{thing.monitored}
                p Location:
                a(href='https://maps.google.com/?q=#{thing.coordinates}')
                  | #{thing.coordinates}
                p(id="id" + i) ID: #{thing.id}
                p URL: #{thing.url}
                p Description: #{thing.description}
                br 
                | Situation Templates:    
                select(id="selectedTemplate" + i)
                  -for (var j in templates)
                    -var template = templates[j]
                    option(value="#{template.id}") #{template.name +" "+ template.id}
                br 
                | Situation Recognition System:    
                select(id='select' + i)
                  option(value='nodeRed') NodeRed
                    |                   
                    option(value='esper') Esper
                br
                | Store every situation (when occured attribute does not change) (not implemented) 
                input#check(type='checkbox', name='store', value='true')
                br
                input(type='submit', value='Start situation recognition', onclick='startRecognition("' + thing.name + '", ' + i + ');')
                br
                br
                | Situations: 
                br


                -for (var k in situations)
                  -var situation = situations[k]
                  -if (situation.thing == thing.id)
                    br
                    
                    |   #{situation.name}:     
                    -if (situation.occured == true)
                      br 
                      img(src='images/SystemFailure.jpg', alt='Failure') 
                      | Situation is valid 
                    -else
                      br
                      img(src='images/SystemOK.png', alt='OK') 
                      | Situation is not valid
                    br
                    | Derived from situation template "#{situation.situationtemplate}" 
                    br
                    | Quality: #{situation.quality}
                    br
                    | Recognized at "#{situation.timestamp}"
                    br
                    


                  
              


          #sidebar



        #footer
          include footer

    script(language='JavaScript').
                  
      function startRecognition(thing, index)
        {
          var template = document.getElementById('selectedTemplate' + index).value
          var thing = document.getElementById('name' + index).innerHTML.substr(6);
          var flavor = document.getElementById('select' + index).value
          $.post('/', {templateid: template, thingid: thing, flavor: flavor}, function (data, status) {
            alert(data);
          });
        }
